<div>
  <div class="loan-wizard-title">
    Loan Wizard
    <span>
      Account: <b>{{ data.accountNumber }}</b> Score:
      <b>{{ data.creditScore }}</b>
    </span>
  </div>
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="loanProductFormGroup">
      <form [formGroup]="loanProductFormGroup">
        <ng-template matStepLabel>Select Loan Product</ng-template>
        <div class="product-table-row header">
          <div class="product-table-cell">Name</div>
          <div class="product-table-cell">Code</div>
          <div class="product-table-cell">Max Term</div>
          <div class="product-table-cell">Max Amount</div>
          <div class="product-table-cell">Score</div>
        </div>
        <mat-radio-group
          class="loan-product-radio-group"
          [(ngModel)]="loanDetails.loanProductCode"
          formControlName="loanProductCtrl"
          required
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let product of loanProducts"
            [value]="product.loanCode"
          >
            <div class="product-table-row">
              <div class="product-table-cell">{{ product.name }}</div>
              <div class="product-table-cell">{{ product.loanCode }}</div>
              <div class="product-table-cell">
                {{ product.maxLoanTermMonths }}
              </div>
              <div class="product-table-cell">
                {{ product.maxLoanAmount | currency: product.currency }}
              </div>
              <div class="product-table-cell">
                {{ product.creditScoreLimit }}
              </div>
            </div>
          </mat-radio-button>
        </mat-radio-group>
        <div class="step-footer">
          <button
            [disabled]="loanProductFormGroup.invalid"
            color="primary"
            mat-raised-button
            matStepperNext
            (click)="onSelectedProduct()"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="loanDetailsFormGroup">
      <form [formGroup]="loanDetailsFormGroup">
        <ng-template matStepLabel>Fill Loan Term & Amount</ng-template>
        <div>
          <mat-form-field>
            <mat-label>Amount</mat-label>
            <input
              matInput
              type="number"
              formControlName="loanAmountCtrl"
              placeholder="Amount"
              [(ngModel)]="loanDetails.amount"
              [max]="selectedProduct?.maxLoanAmount || 1000000"
              required
            />
          </mat-form-field>
          <span class="max-hint"
            >(Up to {{ selectedProduct?.maxLoanAmount }})</span
          >
        </div>
        <mat-form-field>
          <mat-label>Term</mat-label>
          <input
            matInput
            type="number"
            formControlName="loanTermCtrl"
            placeholder="Term"
            [(ngModel)]="loanDetails.term"
            [max]="selectedProduct?.maxLoanTermMonths || 12"
            required
          />
        </mat-form-field>
        <span class="max-hint"
          >(Up to {{ selectedProduct?.maxLoanTermMonths }})</span
        >
        <div class="step-footer">
          <button mat-button matStepperPrevious>
            Back
          </button>
          <button
            [disabled]="loanDetailsFormGroup.invalid"
            color="primary"
            mat-raised-button
            matStepperNext
            (click)="checkLoan()"
          >
            Next
          </button>
        </div>
        <div></div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Take Loan</ng-template>
      <p *ngIf="checkResult.eligible === false" class="not-eligible-message">
        Not Eligible
      </p>
      <div *ngIf="checkResult.eligible">
        <p>Rate: {{ checkResult.riskResult.rate }}</p>
        <p>Risk: {{ checkResult.riskResult.risk }}</p>
      </div>
      <div class="step-footer">
        <button mat-button matStepperPrevious>Back</button>
        <button
          [disabled]="!checkResult.eligible"
          color="primary"
          mat-raised-button
          matStepperNext
          (click)="takeLoan()"
        >
          Take Loan
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
