<div class="partner-account-list">
  <div *ngIf="accounts && !accounts.length" class="account-list-empty-state">
    No accounts found
  </div>
  <mat-accordion *ngIf="accounts && accounts.length">
    <mat-expansion-panel
      *ngFor="let account of accounts; index as i"
      expanded="i === 0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Account Number: {{ account.number }}
        </mat-panel-title>
        <mat-panel-description>
          Holder: {{ account.holder }}
        </mat-panel-description>
        <mat-panel-description>
          Credit: {{ account.creditScoreRating }}
        </mat-panel-description>
        <mat-panel-description>
          Sub-Accounts: {{ account.subAccounts.length }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="table-title">
        Sub-Accounts Details:
      </div>
      <!-- sub accounts table -->
      <table
        mat-table
        [dataSource]="account.subAccounts"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.number }}</td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Code</th>
          <td mat-cell *matCellDef="let element">{{ element.code }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <ng-container matColumnDef="currentBalance">
          <th mat-header-cell *matHeaderCellDef>Current Balance</th>
          <td mat-cell *matCellDef="let element">
            {{
              element.balances.currentBalance
                | currency: element.balances.currency
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="valueDate">
          <th mat-header-cell *matHeaderCellDef>Value Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.balances.valueDate | date }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="subAccountsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: subAccountsColumns"></tr>
      </table>

      <!-- Loans table -->
      <div *ngIf="loans && loans.length">
        <div class="table-title">
          Loans Details:
        </div>
        <table mat-table [dataSource]="loans" class="mat-elevation-z8">
          <ng-container matColumnDef="loanNumber">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.loanNumber }}</td>
          </ng-container>

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Code</th>
            <td mat-cell *matCellDef="let element">{{ element.code }}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element">
              {{ element.amount | currency: element.currency }}
            </td>
          </ng-container>

          <ng-container matColumnDef="monthlyPayment">
            <th mat-header-cell *matHeaderCellDef>Monthly Payment</th>
            <td mat-cell *matCellDef="let element">
              {{ element.monthlyPayment | currency: element.currency }}
            </td>
          </ng-container>
          <ng-container matColumnDef="loanTermMonths">
            <th mat-header-cell *matHeaderCellDef>Terms</th>
            <td mat-cell *matCellDef="let element">
              {{ element.loanTermMonths }}
            </td>
          </ng-container>

          <ng-container matColumnDef="dateTaken">
            <th mat-header-cell *matHeaderCellDef>Date Taken</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dateTaken | date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="dateClosed">
            <th mat-header-cell *matHeaderCellDef>Date Closed</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dateClosed | date }}
            </td>
          </ng-container>
          <ng-container matColumnDef="hasDefaulted">
            <th mat-header-cell *matHeaderCellDef>Defaulted</th>
            <td mat-cell *matCellDef="let element">
              {{ element.hasDefaulted }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="loansColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: loansColumns"></tr>
        </table>
      </div>
      <!-- Add new loan -->
      <div class="partner-accounts-footer">
        <button
          color="primary"
          mat-raised-button
          (click)="openNewLoanDialog(account.number, account.creditScoreRating)"
        >
          New Loan
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
