:host {
  text-align: left;
  width: 100%;
}
.partner-account-list {
  width: 100%;
  table {
    width: 100%;
    box-shadow: none;
  }
  .table-title {
    text-decoration: underline;
    padding: 35px 10px 10px 10px;
  }
  .account-list-empty-state {
    font-size: 20px;
  }
  .mat-expansion-panel-header {
    background: #80808012;
  }
  .partner-accounts-footer {
    padding: 10px;
    text-align: end;
    padding-top: 20px;
  }
}
